<div class="dashboard-container">

  <!-- Stat cards -->
  <div class="stats-grid">
    <div class="stat-card">
      <h4>Storage Used</h4>
      <p>{{ storageUsed }} / {{ storageTotal }} GB</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="(storageUsed/storageTotal)*100"></div>
      </div>
    </div>

    <div class="stat-card">
      <h4>Total Items</h4>
      <p>{{ totalItems }}</p>
    </div>

    

    <div class="stat-card">
      <h4>Organizations</h4>
      <p>{{ totalOrgs }}</p>
    </div>
  </div>

  <!-- Charts -->
  <div class="charts-grid">
    <div class="chart-card">
      <h4>Storage Usage</h4>
      <canvas id="storageChart"></canvas>
    </div>

    <div class="chart-card">
      <h4>Items by Type</h4>
      <canvas id="itemsChart"></canvas>
    </div>
  </div>
<div class="scroll-down-btn-container">
  <button class="scroll-down-btn" (click)="scrollToHistory()">
    <span style="font-weight: 800;">History</span>
    <i class="fas fa-arrow-down"></i>
  </button>
</div>
  <!-- Recent activity -->
<div class="activity-card">
  <h4>Items History</h4>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Organisation</th>
          <th>Item</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of itemHistory">
          <td>{{ h.createdAt | date:'mediumDate' }}</td>
          <td>{{ h.orgName }}</td>
          <td>{{ h.itemTitle }}</td>
          <td>{{ h.userName }}</td>
          <td>
            <span class="action-badge" [ngClass]="getActionClass(h.actionType)">
              {{ h.actionType }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



