<div style="background: linear-gradient(135deg, #ffffff 0%, #dbe6f8 100%); min-height: 100vh; display: flex; justify-content: center; align-items: center; padding: 20px;">

<header class="topbar">
  <!-- Logo + Nom -->
  <div class="logo-section">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSclmibSDpUujubszI-Or3qZj83lifcSGoYNw&s" 
         alt="SecureVault Logo" class="logo">
    <span class="app-name">SecureVault</span>
  </div>

  <!-- User info -->
  <div class="user-info">
  
   <button class="auth-btn" (click)="goToLogin()">Login</button>
<button class="auth-btn" (click)="goToSignUp()">Sign Up</button>

  </div>
</header>


  <!-- Contenu principal centré -->
  <div style="display: flex; align-items: center; justify-content: center; flex: 1; padding: 40px; max-width: 1100px; margin: 0 auto; gap: 80px;">
    
    <!-- Texte à gauche -->
    <div style="flex: 1;">
      <h1 style="font-size: 2.8rem; font-weight: bold; margin-bottom: 15px;">Manage your passwords</h1>
      <p style="font-size: 1.2rem; margin-bottom: 25px; color: #161515;">
        Securely organize, access, and protect all your passwords, files, and notes in one centralized place.</p>
        
    
      <button
  style="padding: 12px 30px; font-size: 1rem; background-color: #007BFF; color: white; border: none; border-radius: 8px; cursor: pointer;"
  (click)="goToLogin()">
  join now
</button>


    </div>

    <!-- Image à droite -->
    <div style="flex: 1; display: flex; justify-content: center;">
      <img src="https://static.tildacdn.one/tild6139-6362-4634-b832-343336376566/Copy_of_Untitled_Des.png" alt="Hero Image" style="width: 400px; height: 400px;">
    </div>

  </div>
</div>
