<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
  <!-- Logo + Nom de l'app -->
  <div class="sidebar-logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSclmibSDpUujubszI-Or3qZj83lifcSGoYNw&s" alt="SecureVault Logo">
    <span>SecureVault</span>
  </div>

  <nav class="sidebar-nav">
    <ul>
    

      <li>
        <a routerLink="profile" routerLinkActive="active-link">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li> 
      <a routerLink="/dashboard/statique" routerLinkActive="active-link">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
      <li>
        <a routerLink="vaults" routerLinkActive="active-link">
          <i class="fas fa-lock"></i>
          <span>My Vaults</span>
        </a>
      </li>
     
    </ul>

    <!-- Bouton pour réduire/agrandir la sidebar -->
<div class="sidebar-toggle" (click)="toggleSidebar()">
  <span class="toggle-icon">{{ sidebarCollapsed ? '>' : '<' }}</span>
</div>

  </nav>
</aside>


  <!-- Main Content -->
  <main class="main-content">
    <!-- Topbar -->
    <header class="topbar">
  <div class="topbar-left">
    <span class="page-title">{{ pageTitle }}</span>
  </div>

<!-- Photo de profil + bouton logout -->
  <div class="user-info">
    <div class="topbar-profile-pic" (click)="goToProfile()">
      <ng-container *ngIf="profileImage; else defaultIcon">
        <img [src]="profileImage" alt="Profile" />
      </ng-container>
      <ng-template #defaultIcon>
        <span>👤</span>
      </ng-template>
    </div>
    <button class="logout-btn">Logout</button>
  </div>
</header>

    <!-- Dashboard content -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
